.btn {
    padding-top : 1rem;
    padding-bottom : 1rem;
    width : 100%;
    border-bottom : 1px solid black;
}

.home-menu {
    margin-top : 12rem;
}

.infos-input {
    margin-top : 0.5rem;
    margin-bottom : 0.5rem;
}

.btn-home {
    border-top : 1px solid black;
}

.bottom-choice {
    position: absolute;
    bottom : 0;
    width: 100%;
}

.btn-add-infos {
    border-top : 1px solid black;
}

.btn-home-return {
    border-bottom : 1px solid black;
}

.btn-home-return:hover {
    background-color : #C1D9FF;
    transition: background-color 0.5s ease-in-out;
}

.btn-home:hover {
    background-color : grey;
    transition: background-color 0.5s ease-in-out;
}

.btn-add-infos:hover {
    background-color: green;
    transition: background-color 0.5s ease-in-out;
}

.btn:focus {
    box-shadow: none;
}

.one_infos {
    border : 1px solid black;
    margin-top : 0.5rem;
    margin-bottom : 1.5rem;
    border-radius : 10px;
    padding-top: 0.7rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}